<template>
	<h2>List picker HTML</h2>
	<input id="select-button" type="button" value="Select Item"/>
	<input id="add-button" type="button" value="Add Item"/>
</template>


<script>
	(function(){
		var Proto = Object.create(HTMLElement.prototype);
		var importDoc = document.currentScript.ownerDocument;

		Proto.createdCallback = function() {
			this.showName = (this.getAttribute('showName') != null) ? true:false;
			this.showDate = (this.getAttribute('showDate') != null) ? true:false;
			this.showOrg = (this.getAttribute('showOrg') != null) ? true:false;
			this.showCount = (this.getAttribute('showCount') != null) ? true:false;

			var template = importDoc.querySelector('template');
			var templateClone = document.importNode(template.content, true);

			var root = this.createShadowRoot();
			root.appendChild(templateClone);

			root.querySelector("#select-button").addEventListener('click', function(){
				// Simulate the selected item
				var selectedItem = {id: 1234, name:'Frank', date: '16Aug2017'};
				var event = new CustomEvent('list-picker-item-selected', {detail: selectedItem});
				root.dispatchEvent(event);
			});

			root.querySelector("#add-button").addEventListener('click', function(){
				// Simulate the added item
				var addedItem = {name:'John', date: '17Aug2017'};
				var event = new CustomEvent('list-picker-item-added', {detail: addedItem});
				root.dispatchEvent(event);
			});
		};

		Proto.attributeChangedCallback = function(attrName, oldVal, newVal) {
			console.log(attrName + ", " + oldVal + ', ' + newVal);

			// TODO - redraw the screen with the updated options
		};

		Proto.setData = function(dataArray) {
			// TODO - redraw the screen using the new data
			dataArray.forEach(function(item){
//				console.log(JSON.stringify(item));
				console.log("ListPicker setData called");
			})
		};


		document.registerElement('list-picker-html', {
			prototype: Proto
		});
	})();
</script>
