<!-- This component has a dependency on the list picker and the details view, so import them -->
<link rel="import" href="ListPicker.html"/>
<link rel="import" href="DetailsView.html"/>

<template>
	<style>
		.container {
			border: 1px solid black;
			margin: 5px;
			padding: 5px;
		}
	</style>
	<div class='container'>
		<h2>Visits page HTML</h2>
		<list-picker-html showName showDate showOrg></list-picker-html>
		<details-view-html></details-view-html>
	</div>
</template>

<script>
	(function(){
		var Proto = Object.create(HTMLElement.prototype);
		var importDoc = document.currentScript.ownerDocument;

		Proto.createdCallback = function() {
			var template = importDoc.querySelector('template');
			var templateClone = document.importNode(template.content, true);

			var root = this.createShadowRoot();
			root.appendChild(templateClone);

			// Listen for list picker selected events
			this.addEventListener('list-picker-item-selected', function(event){
				console.log("Selected event:" + JSON.stringify(event.detail));
			});

			// Listen for list picker add events
			this.addEventListener('list-picker-item-added', function(event){
				console.log("Added event:" + JSON.stringify(event.detail));
			});
		};

		Proto.attachedCallback = function() {
			console.log('attached');
		};

		Proto.detachedCallback = function() {
			console.log('detatched');
		};

		Proto.attributeChangedCallback = function(attrName, oldVal, newVal) {
			console.log(attrName + ", " + oldVal + ', ' + newVal);
		};

		document.registerElement('visits-page-html', {
			prototype: Proto
		});
	})();
</script>